.content {
  font-family: "Calibri";
  font-size: 18px;
  max-width: 100%;
  height: 100%;
}



.imgs {
  background-size: cover;
  background-position: center center;
  overflow: hidden; 
  width: 100%;
  height: 100%;

}




@media(max-width: 1400px) {
  .lastNews {
    font-size: 18px;
  }
}




.items {
  margin-left: 200px;
}


.side-img {
  background-color: #333;
  background-size: cover;
  height: 243px;
  background-position: center center;
  overflow: hidden;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
  
article {
  background-color: #fff;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

@media(max-width: 991px) and (min-width: 768px) {  
  .share {  
    margin-right: 30px;
  }
}

@media(max-width: 768px) {
  .share ul li {
    display: inline;
  }
}

.share2 ul li {
  display: inline;
}
